.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer; /* cursor on hover to show clickable */
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1; /* stay on foreground */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  color: #333;
  padding: 10px;
  text-decoration: none; /* no underline for link */
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  margin: 10px;
}

.dropbtn:hover {
  background-color: #3e8e41;
}

.dropdown-content a:last-child {
  border-bottom: 1px solid #ccc;
}